<div style="position: relative; padding: 2%">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for recipe in recipes %}
            <div class="col">
                <div class="card h-100">

                    <!-- Recipe Image -->
                    <img class="card-img-top"
                         src="/media/{{ recipe.recipe_image }}"
                         alt="Recipe Image"
                         style="width:100%; height:15vw; object-fit:cover;">

                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.recipe_name }}</h5>

                        <!-- IF the recipe belongs to logged-in user -->
                        {% if recipe.user == request.user %}
                            <a href="/recipe_detail/{{ recipe.id }}/" class="btn btn-outline-success mb-1">View</a>
                            <a href="/delete_recipe/{{ recipe.id }}/" class="btn btn-outline-danger mb-1">Delete</a>
                            <a href="/update_recipe/{{ recipe.id }}" class="btn btn-outline-warning mb-1">Edit</a>

                        <!-- ELSE: Other users’ recipes -->
                        {% else %}
                            <a href="/recipe_detail/{{ recipe.id }}/" class="btn btn-outline-success">View</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>
</div>

