{% extends "base.html" %}
{% block title %}
    RecipeVault.com
{% endblock title %}
{% block start %}

<!-- View Recipes -->
<div style="padding: 2%;">
    <h2>{{ recipes.recipe_name }}</h2>
</div>

<div style="padding: 2%; text-align: justify;">
    <img src="/media/{{ recipes.recipe_image }}" class="card-text" alt="Image"
         width="400px" height="400px"
         style="border-radius: 10%; max-width: 100%; height: auto;">

    <p style="padding-top: 1%; text-align: justify;">
        {{ recipes.recipe_description }}
    </p>

    <h3>Ingredients:</h3>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>

    <h3>Instructions:</h3>
    <ol>
        {% for instruction in instructions %}
            <li>{{ instruction }}.</li>
        {% endfor %}
    </ol>

    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
         fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
    </svg>
    {{ recipes.cooking_time }}

    <br>
    Ratings: {{ recipes.average_rating }}
</div>

<!-- Comment Box -->
<div style="padding: 3%;">
    <hr>

    <div class="card">
        <h3 class="card-header">Comments</h3>
        {% for comment in comments %}
            <div class="card-body">
                <h6 class="card-title">{{ comment.content }}</h6>
                <div class="text-muted">
                    Posted by {{ comment.user.username }} on {{ comment.created_at }}
                </div>
            </div>
        {% empty %}
            <p style="padding: 2%;">No comments yet.</p>
        {% endfor %}
    </div>

    <hr>

    {% if request.user != recipes.user %}
    <!-- Rating Form -->
    <div class="rating-form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                        {{ message }}
                        <button type="button" class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"
                                style="text-align: end;"></button>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="rating" class="form-label">Rate the recipe:</label><br>
                <div style="display: flex; flex-direction: row; margin-right: 10px;">
                    <input type="radio" id="rating1" name="score" value="1" required>
                    <label for="rating1">1</label>&nbsp;&nbsp;

                    <input type="radio" id="rating2" name="score" value="2" required>
                    <label for="rating2">2</label>&nbsp;&nbsp;

                    <input type="radio" id="rating3" name="score" value="3" required>
                    <label for="rating3">3</label>&nbsp;&nbsp;

                    <input type="radio" id="rating4" name="score" value="4" required>
                    <label for="rating4">4</label>&nbsp;&nbsp;

                    <input type="radio" id="rating5" name="score" value="5" required>
                    <label for="rating5">5</label>&nbsp;&nbsp;
                </div>

                <br>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Rate</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}

    <!-- Comment Form -->
    <div class="comment-form">
        <h4>Leave a Comment</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea class="form-control"
                      name="content"
                      placeholder="Share your comments (max 300 chars)"
                      maxlength="300"
                      minlength="2"></textarea>
            <br>
            <div class="mb-3 col-6">
                <button type="submit" class="btn btn-success">Post Comment</button>
            </div>
        </form>

        <hr>
    </div>

</div>

{% endblock %}
